@import url("../variables.css");

footer {
  font-size: 0.68rem;
  background-color: transparent;
  color: var(--accent-light);
  place-self: end normal;
  margin-inline: var(--page-side-margin);
}

.footer-content {
  display: flex;
  justify-content: space-between;
}
