footer {
  font-size: 16px;
  background-color: transparent;
  color: var(--accent-light);
  padding: 56px 8px 8px 8px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}
