header {
  position: fixed;
  width: 100vw;
  height: 3.5vh;
  left: 0;
  top: 0;
}
nav {
  padding-block-start: var(--page-vertical-margin);
  padding-inline: var(--page-side-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--accent);
  color: var(--accent-light);
  height: 100%;
}

.home-btn {
  outline: 2px solid var(--accent-light);
  padding: 2px 4px;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.hamburger {
  cursor: pointer;
  display: none;
  z-index: 1;
  user-select: none;
}

.line {
  display: block;
  width: 24px;
  height: 2px;
  margin-block-end: 6px;
  background-color: var(--accent-light);
}

.line:nth-child(2) {
  width: 16px;
  margin-inline-start: auto;
}

a {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: transparent;
  text-decoration-thickness: 2.5px;
  transition: text-decoration-color 0.3s ease;
}
nav a:hover,
nav a:focus {
  outline: none;
  text-decoration-color: var(--accent-light);
}
