@import url("../variables.css");

.about h2,
.about h3,
.about p {
  margin-inline: var(--page-side-margin);
}

.about {
  color: var(--accent-light);
}

.intro,
.funding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro,
.research,
.funding {
  min-height: 100svh;
}

.about p {
  margin-block-start: 24px;
}

.about p {
  padding-block: 20px;
}

.research .cards {
  margin-block-start: 16px;
  gap: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.research .cards div {
  border: 1px solid var(--accent);
  text-align: center;
  padding: 8px;
  max-width: 450px;
}

.research .cards div h3 {
  padding: 8px;
}

.funding h3 {
  margin-block-start: 24px;
}
