@import url("../variables.css");

.contact {
  color: var(--accent-light);
  max-width: 75ch;
  margin: 0 auto;
}

#contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.contact p {
  padding-block: 20px;
}

#contact-form {
  padding-block-start: 24px;
}

.input {
  width: 100%;
  padding-block-end: 12px;
  margin: 16px 8px;
  background: transparent;
  border: none;
  border-bottom: 1px solid hsl(248, 89%, 65%);
  color: var(--accent-light);
}

.input:focus {
  outline: none;
  border-bottom: 2px solid hsl(248, 89%, 80%);
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* checkbox */

fieldset {
  border: none;
}

legend {
  color: var(--accent-light);
  margin-block-end: 8px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

#other_text {
  display: none;
}
.checkbox-container input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid hsl(248, 89%, 65%);
  border-radius: 4px;
  margin-inline-end: 8px;
  cursor: pointer;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: hsl(248, 89%, 65%);
}

.checkbox-container label {
  color: var(--accent-light);
  cursor: pointer;
}
