@import url("../variables.css");

.contact {
  color: var(--accent-light);
  max-width: 80%;
  margin: 0 auto;
  padding-block-start: 120px;
}

label {
  display: block;
}

input,
textarea {
  width: 100%;
}
#contact-form {
  max-width: 400px;
  margin: 0 auto;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
