@import url("../variables.css");

.contact {
  color: var(--accent-light);
  max-width: 80%;
  /* margin: 0 auto; */
}

#contact-form {
  padding-block-start: 56px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 12px;
  background: transparent;
  border: none;
  border-bottom: 1px solid hsl(248, 89%, 65%);
  color: var(--accent-light);
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 2px solid hsl(248, 89%, 80%);
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
