@import url("../variables.css");

.index {
  padding-block-start: 0;
  min-height: 90svh;
  display: flex;
  justify-content: space-between;
}

.index section {
  max-width: 75ch;
  grid-area: 1 / 1 / 3 / 2;
  align-self: center;
  margin-inline: var(--page-side-margin);
}

.index h1 {
  letter-spacing: 0.5rem;
  margin: 100px 0 0 0;
}

.index span {
  color: var(--accent);
}

.index em {
  display: block;
  margin-block-start: -16px;
}

.index p {
  padding-block-start: 48px;
}

.index a {
  display: block;
  max-width: fit-content;
  background-color: var(--accent);
  color: var(--accent-light);
  padding: 0.75rem;
  margin-block-start: 24px;
}

.index .img {
  max-width: 550px;
  height: auto;
  align-self: center;
}
