@import url("../variables.css");

.index {
  place-self: center;
  text-align: center;
  color: var(--accent-light);
}

.index h1 {
  font-size: clamp(5rem, 8vw + 2rem, 8rem);
  padding-block-end: 16px;
}

.index section {
  max-width: 75ch;
}

.index h1 {
  letter-spacing: 0.05em;
  margin: 100px 0 0 0;
}

.index span {
  color: var(--accent);
}

.index em {
  display: block;
  margin-block-start: -24px;
  font-size: clamp(0.6rem, 1vw + 0.25rem, 0.9rem);
}

.index p {
  padding-block-start: 48px;
  margin-block-end: 36px;
}
