@import url("../variables.css");

.research section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

.research section {
  margin-block-start: 16px;
}
