@import url("../variables.css");
.story {
  margin-inline: var(--page-side-margin);
  color: var(--accent-light);
  max-width: 80%;
  margin: 0 auto;
  padding-block-start: 120px;
}

.story p {
  max-width: 75ch;
  margin-block: 48px;
}
