@import url("../variables.css");
.story {
  margin-inline: var(--page-side-margin);
  color: var(--accent-light);
  padding: 92px 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-block-start: 64px;
  align-items: center;
}

.story p {
  max-width: 75ch;
}
