@import url("./variables.css");

html {
  font-family: var(--system-ui);
  background: var(--accent-light);
  font-size: var(--fs-body);
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  padding-block-start: var(--body-block-margin);
  margin-inline: var(--page-side-margin);
}

h1 {
  font-size: var(--fs-large);
}

main:not(.index) h1 {
  position: relative;
  z-index: 0;
  margin-block-end: 24px;
}
main:not(.index) h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent);
}
