@import url("./variables.css");

html {
  font-family: var(--system-ui);
  background: var(--accent-light);
  font-size: var(--fs-body);
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

p {
  padding-block-start: var(--body-block-margin);
  margin-inline: var(--page-side-margin);
}

h1 {
  font-size: clamp(3.9rem, 1vw + 1rem, var(--fs-large));
}

h2 {
  font-size: var(--fs-med);
  border-bottom: 4px solid var(--accent);
}
