@media (max-width: 64rem) {
}

@media (max-width: 45rem) {
  .hamburger {
    display: block;
  }

  .nav-links {
    background-color: #171723;
    color: var(--accent-light);
    font-size: var(--fs-small);
    flex-direction: column;
    min-height: 100svh;
    width: 55vw;
    position: fixed;
    top: 0;
    right: -100%;
    padding-block-start: 150px;
    transition: right 0.2s ease;
  }

  .expanded {
    right: 0;
  }

  .hamburger .line {
    transition: transform 0.2s ease;
  }

  .expanded .line:nth-child(2) {
    display: none;
  }

  .expanded .line:nth-child(1) {
    transform: rotate(45deg) translate(3px, 3px);
  }

  .expanded .line:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -3px);
  }

  .hamburger.expanded:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
  }

  .hamburger:not(.expanded):hover .line:nth-child(1) {
    transform: translateY(-3px);
    transition: transform 0.5s ease;
  }
  .hamburger:not(.expanded):hover .line:nth-child(3) {
    transform: translateY(3px);
    transition: transform 0.5s ease;
  }
}

@media (max-width: 35rem) {
  .expanded.nav-links {
    width: 100vw;
  }

  .about {
    padding-block-start: 100px;
  }

  .index h1 {
    letter-spacing: 0.5rem;
  }
}
