:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fs-exlg: 7.5rem;
  --fs-large: 5rem;
  --fs-med: 3rem;
  --fs-small: 1.5rem;
  --fs-body: clamp(1.125rem, 1vw + 0.5rem, 1.25rem);
  --accent: hsl(248, 89%, 65%);
  --accent-light: #fffafa;
  --clr-dark: #171723;
  --page-side-margin: clamp(8px, 2vw + 8px, 24px);
  --page-vertical-margin: 30px;
  --body-block-margin: 100px;
}
