:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fs-exlg: 7.5rem;
  --fs-large: 5rem;
  --fs-med: 3.5rem;
  --fs-small: 1.125rem;
  --fs-body: 1rem;
  --accent: hsl(248, 89%, 65%);
  --accent-light: #fffafa;
  --page-side-margin: clamp(8px, 2vw + 8px, 16px);
  --page-vertical-margin: 8px;
}
