---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | KCNQ5">
  <main class="about">
    <section class="intro">
      <div class="content-wrapper">
        <h2>What is KCNQ5?</h2>
        <p>
          The KCNQ5 gene plays a role in the functioning of potassium channels
          in the brain, which are crucial for the regulation of neuronal
          excitability and keeping the electrical activity in your brain and
          other parts of your nervous system running smoothly. Mutations in this
          gene can disrupt the communication between neurons, leading to various
          neurological issues, such as intellectual disabilities, muscle
          coordination problems, or even seizures, depending on how the channels
          are affected.
        </p>

        <p>
          The KCNQ5 gene is also known by several aliases, including KV7.5,
          Voltage-gated potassium channel subunit Kv7.5 and Potassium
          voltage-gated channel, subfamily KQT, member 5. These aliases reflect
          its function and its classification within the family of voltage-gated
          potassium channels. Continued scientific investigation is necessary to
          fully understand the mechanisms by which KCNQ5 mutations cause
          neurological conditions and to develop effective drug or gene
          therapies. This includes studies to explore the potential for
          correcting the genetic mutations directly or developing therapies that
          can mitigate the impact of these mutations on brain function. As
          research in this field progresses, it may offer new hope for targeted
          treatments or gene therapy approaches in the future.
        </p>
      </div>
    </section>
    <section class="research">
      <div class="content-wrapper">
        <h2>Research</h2>

        <p>
          Overall, the field of targeted drug and gene therapy is making
          significant strides, with numerous clinical trials and new therapies
          on the horizon that could transform the treatment landscape for many
          genetic disorders and diseases. Gene therapy continues to advance
          rapidly, with several promising developments in 2024.
        </p>
      </div>
      <div class="cards">
        <div>
          <h3>CRISPR and Gene Editing</h3>
          <p>
            The first CRISPR-based therapies have gained approval, including
            treatments for sickle cell disease and beta-thalassemia. Researchers
            are also working on in vivo gene editing techniques, which could
            allow for direct editing within the body, potentially making
            treatments more accessible and less burdensome for patients.
          </p>
        </div>
        <div>
          <h3>Personalized Gene Therapy</h3>
          <p>
            Advances in sequencing and bioinformatics are enabling more
            personalized treatment plans tailored to individual genetic
            profiles. This approach is expected to become more common,
            particularly for rare diseases and cancers.
          </p>
        </div>
        <div>
          <h3>Optimized Delivery Systems</h3>
          <p>
            New delivery mechanisms, such as targeted nanoparticles and viral
            vectors, are improving the precision and efficiency of gene
            therapies. These advancements help minimize systemic side effects
            and ensure that treatments reach their intended targets more
            effectively.
          </p>
        </div>
        <div>
          <h3>Regulatory and Manufacturing Improvements</h3>
          <p>
            AI and machine learning are playing a significant role in optimizing
            biomanufacturing processes and streamlining regulatory approvals.
            These technologies help predict outcomes, enhance trial designs, and
            manage large datasets, thus speeding up the development and approval
            of new therapies.
          </p>
        </div>
        <div>
          <h3>Emerging Therapies</h3>
          <p>
            Several new gene therapies are in the pipeline, including treatments
            for recessive dystrophic epidermolysis bullosa, leukocyte adhesion
            deficiency-1, and advanced synovial sarcoma. These therapies use
            innovative approaches like gene-corrected cell therapy and T cell
            receptor therapy, offering hope for patients with these challenging
            conditions.
          </p>
        </div>
      </div>
    </section>
    <section class="funding">
      <div class="content-wrapper">
        <h2>Funding</h2>
        <h3>Join Us in Pioneering Research for KCNQ5</h3>
        <p>
          As we are in the preliminary stages of establishing our foundation,
          our immediate goal is to understand and connect with individuals,
          families, researchers, and organizations that are passionate about
          this cause. At this moment, we have not applied for 501(c)(3)
          tax-exempt status. We believe it is essential first to gauge the level
          of interest and support from the community. Your engagement and
          feedback will be invaluable in helping us decide the appropriate time
          to formalize our structure, including appointing a board of directors.
        </p>

        <p>
          We invite you to join us by sharing your experiences or contributing
          in any way you feel comfortable. Your support is crucial as we build
          the foundation for significant advances in medical research and
          potential therapies.Thank you for your interest and support in making
          a difference. We value every contribution and invite you to join us on
          this journey. Your support and input are crucial as we lay the
          groundwork for impactful research and potential cures.
        </p>
      </div>
    </section>
  </main>

  <style></style>
</Layout>
