---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Contact | KCNQ5">
  <main class="contact">
    <h2>Get in Touch</h2>
    <p>
      We would love to hear from you! Whether you have a question about our
      organization, want to collaborate, or just want to say hello, feel free to
      reach out. Fill out the form below and we'll get back to you as soon as
      possible.
    </p>

    <form
      id="contact-form"
      action="https://api.web3forms.com/submit"
      method="POST"
    >
      <input
        type="hidden"
        name="access_key"
        value="189e87cc-9bcc-4c02-b2fe-2398c02144be"
      />
      <input
        type="hidden"
        name="subject"
        value="New Submission from kcnq5.org Contact Form"
      />

      <div class="contact-inputs">
        <div>
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="First Last"
            required
            class="input"
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="email@provider.com"
            required
            class="input"
          />
        </div>
        <div>
          <label for="phone">Phone Number (optional)</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            placeholder="+1 (000) 000 - 0000"
            class="input"
          />
        </div>
        <div>
          <label for="message">Message</label>
          <textarea
            id="message"
            name="message"
            rows="5"
            placeholder="Your Message"
            minlength="8"
            required
            class="input"></textarea>
        </div>
        <fieldset>
          <legend>Relation to KCNQ5</legend>
          <div class="checkbox-container">
            <input type="checkbox" name="relation" id="doctor" value="doctor" />
            <label for="doctor">Doctor</label>
          </div>
          <div class="checkbox-container">
            <input
              type="checkbox"
              name="relation"
              id="scientist"
              value="scientist"
            />
            <label for="scientist">Scientist</label>
          </div>
          <div class="checkbox-container">
            <input
              type="checkbox"
              id="family_member"
              name="relation"
              value="family_member"
            />
            <label for="family_member"
              >Family Member with KCNQ5 Gene Mutation</label
            >
          </div>
          <div class="checkbox-container">
            <input
              type="checkbox"
              name="relation"
              id="interested"
              value="interested"
            />
            <label for="interested">Interested Individual</label>
          </div>

          <div class="checkbox-container other">
            <input type="checkbox" name="relation" id="other" value="other" />
            <label for="other">Other</label>
          </div>
          <input
            type="text"
            id="other_text"
            name="other_relation"
            placeholder="Please specify"
            class="input"
          />
        </fieldset>
        <Button type="submit">Submit</Button>
      </div>
    </form>
  </main>
</Layout>
