---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const KEY = "189e87cc-9bcc-4c02-b2fe-2398c02144be";
---

<Layout title="Contact | KCNQ5">
  <Header />
  <main class="contact">
    <h2>Get in Touch</h2>
    <form
      id="contact-form"
      action="https://api.web3forms.com/submit"
      method="POST"
    >
      <input type="hidden" name="access_key" value={KEY} />
      <input
        type="hidden"
        name="subject"
        value="New Submission from kcnq5.org Contact Form"
      />
      <div class="contact-inputs">
        <div class="input">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="First Last"
            required
          />
        </div>
        <div class="input">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="email@provider.com"
            required
          />
        </div>
        <div class="input">
          <label for="subject">Phone Number (optional)</label>
          <input
            type="text"
            id="subject"
            name="subject"
            placeholder="(012) 345 - 6789)"
            required
          />
        </div>
        <div class="input">
          <label for="message">Message</label>
          <textarea
            id="message"
            name="message"
            rows="5"
            placeholder="Your Message"
            required></textarea>
        </div>

        <button type="submit">Submit</button>
      </div>
    </form>
  </main>
</Layout>

<style></style>
