---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Funding | KCNQ5">
  <Nav />
  <main>
    <h1>Funding</h1>
    <h2>Join Us in Pioneering Research for KCNQ5</h2>
    <p>
      As we are in the preliminary stages of establishing our foundation, our
      immediate goal is to understand and connect with individuals, families,
      researchers, and organizations that are passionate about this cause.
    </p>
    <p>
      At this moment, we have not applied for 501(c)(3) tax-exempt status. We
      believe it is essential first to gauge the level of interest and support
      from the community. Your engagement and feedback will be invaluable in
      helping us decide the appropriate time to formalize our structure,
      including appointing a board of directors.
    </p>
    <p>
      We invite you to join us by sharing your experiences or contributing in
      any way you feel comfortable. Your support is crucial as we build the
      foundation for significant advances in medical research and potential
      therapies.
    </p>
    <p>
      Thank you for your interest and support in making a difference. We value
      every contribution and invite you to join us on this journey. Your support
      and input are crucial as we lay the groundwork for impactful research and
      potential cures.
    </p>
  </main>
</Layout>

<style></style>
