---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="KCNQ5">
  <Nav />
  <main>
    <h1>KCNQ5</h1>
    <p>potassium voltage-gated channel subfamily Q member 5</p>
    <p>
      Explore our commitment to understanding and addressing the impact of the
      KCNQ5 gene mutation on neurological health, as we unite communities and
      pursue potential cures.`
    </p>
    <a href="/about">Learn More</a>
  </main>
</Layout>

<style></style>
