---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="KCNQ5">
  <main class="index">
    <section>
      <h1>KCNQ<span>5</span></h1>
      <em>potassium voltage-gated channel subfamily Q member 5</em>
      <p>
        Explore our commitment to understanding and addressing the impact of the
        KCNQ5 gene mutation on neurological health, as we unite communities and
        pursue potential cures.`
      </p>
      <Button href="about">Learn More</Button>
    </section>
  </main>
</Layout>
