---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import homeImage from "../imgs/index.png";
import { Image } from "astro:assets";
import Background from "../components/Background.astro";
---

<Layout title="KCNQ5">
  <Header />
  <main class="index">
    <section>
      <h1>KCNQ<span>5</span></h1>
      <em>potassium voltage-gated channel subfamily Q member 5</em>
      <p>
        Explore our commitment to understanding and addressing the impact of the
        KCNQ5 gene mutation on neurological health, as we unite communities and
        pursue potential cures.`
      </p>
      <a href="/about">Learn More</a>
    </section>
    <!-- <Image src={homeImage} alt="" class="img" /> -->
    <Background />
  </main>
</Layout>
