---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Research | KCNQ5">
  <Header />
  <main class="research">
    <h1>Research</h1>
    <p>
      Overall, the field of targeted drug and gene therapy is making significant
      strides, with numerous clinical trials and new therapies on the horizon
      that could transform the treatment landscape for many genetic disorders
      and diseases. Gene therapy continues to advance rapidly, with several
      promising developments in 2024.
    </p>
    <section>
      <div>
        <h3>CRISPR and Gene Editing</h3>
        <p>
          The first CRISPR-based therapies have gained approval, including
          treatments for sickle cell disease and beta-thalassemia. Researchers
          are also working on in vivo gene editing techniques, which could allow
          for direct editing within the body, potentially making treatments more
          accessible and less burdensome for patients.
        </p>
      </div>
      <div>
        <h3>Personalized Gene Therapy</h3>
        <p>
          Advances in sequencing and bioinformatics are enabling more
          personalized treatment plans tailored to individual genetic profiles.
          This approach is expected to become more common, particularly for rare
          diseases and cancers.
        </p>
      </div>
      <div>
        <h3>Optimized Delivery Systems</h3>
        <p>
          New delivery mechanisms, such as targeted nanoparticles and viral
          vectors, are improving the precision and efficiency of gene therapies.
          These advancements help minimize systemic side effects and ensure that
          treatments reach their intended targets more effectively.
        </p>
      </div>
      <div>
        <h3>Regulatory and Manufacturing Improvements</h3>
        <p>
          AI and machine learning are playing a significant role in optimizing
          biomanufacturing processes and streamlining regulatory approvals.
          These technologies help predict outcomes, enhance trial designs, and
          manage large datasets, thus speeding up the development and approval
          of new therapies.
        </p>
      </div>
      <div>
        <h3>Emerging Therapies</h3>
        <p>
          Several new gene therapies are in the pipeline, including treatments
          for recessive dystrophic epidermolysis bullosa, leukocyte adhesion
          deficiency-1, and advanced synovial sarcoma. These therapies use
          innovative approaches like gene-corrected cell therapy and T cell
          receptor therapy, offering hope for patients with these challenging
          conditions.
        </p>
      </div>
    </section>
    <cite>
      <a
        href="https://innovativegenomics.org/news/crispr-clinical-trials-2024/"
        target="_blank">Innovative Genomics Institute (IGI)</a
      >
    </cite>
    <cite>
      <a href="https://www.formbio.com/blog/gene-therapy-2024" target="_blank"
        >Form Bio</a
      >
    </cite>
    <cite>
      <a
        href="https://acrpnet.org/2023/12/realizing-new-miracles-gene-therapy-trends-in-2024-and-beyond/"
        target="_blank">ACRP</a
      >
    </cite>
  </main>

  <style></style>
</Layout>
