---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Our Journey | KCNQ5">
  <main class="story">
    <h2>Our Journey</h2>
    <p>
      A few years ago, my grandson, now ten years old, was facing significant
      challenges with speech and intellectual development. Seeking answers and
      support, we turned to genetic testing, which led to his diagnosis with a
      mutation in the KCNQ5 gene.
    </p>
    <p>
      This discovery was both a relief because now we know the root cause. But
      also troubling becuase it is so rare with no cure. It explained many of
      the difficulties he faced. Recently he has experienced mild seizures, a
      common symptom for many with this mutation.
    </p>
    <p>
      Motivated by my grandson's needs I decided to establish this web site. Our
      mission is to drive research and uncover effective treatments or a cure
      for KCNQ5-related conditions. While we have not yet secured 501(c)(3)
      status, our immediate goal is to engage with those who have been impacted
      by this mutation. This includes individuals, families or those in the
      scientific, medical or support organization that want to help make a
      difference.
    </p>
    <p>
      We invite you to join us in this mission as we work together to find a
      cure everyone affected by this genetic mutation.
    </p>
  </main>
</Layout>
