<header>
  <nav>
    <a href="/">Q5</a>
    <ul>
      <li><a href="/story">Our Journey</a></li>
      <li><a href="/about">Understanding KCNQ5</a></li>
      <li><a href="/funding">Funding</a></li>
      <li><a href="/research">Research</a></li>
      <li><a href="/contact">Get in Touch</a></li>
    </ul>
  </nav>
</header>
