<header>
  <nav>
    <a href="/">Q5</a>
    <ul>
      <li><a href="/about">Our Story</a></li>
      <li><a href="/funding">Funding</a></li>
      <li><a href="/research">Research</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
